---
Checks: -*,bugprone-*,cert-*,clang-analyzer-*,cppcoreguidelines-*,google-*,hicpp-*,llvm-*,openmp-*,performance-*,readability-*,-bugprone-easily-swappable-parameters,-readability-identifier-length,-cppcoreguidelines-macro-usage,-llvm-header-guard,-cppcoreguidelines-avoid-magic-numbers,-readability-magic-numbers
HeaderFilterRegex: 'include/scaluq/.*'
---
