# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.egg-info
/.mypy_cache
/.vscode
/bin
/build
/typings
/dist
/doc/source/autoapi/
/doc/source/stub/
/doc/build/
/python/scaluq/_version.py
/kokkos-tools
/example_project/build/
