name: Format

on:
  pull_request:
    paths-ignore:
      - ".devcontainer/**"
      - ".vscode/**"
      - "doc/**"
      - "*.md"
  push:
    branches:
      - main
    paths-ignore:
      - ".devcontainer/**"
      - ".vscode/**"
      - "doc/**"
      - "*.md"
  workflow_dispatch:

jobs:
  check-format:
    name: Check Format
    runs-on: "ubuntu-24.04"
    steps:
      - uses: actions/checkout@v4

      - name: Setup cmake
        uses: lukka/get-cmake@latest
          
      - name: Install Ninja
        run: sudo apt install ninja-build

      - name: Configure
        run: |
          script/configure

      - name: Check format
        run: |
          ninja -C build format
          diff=$(git diff)
          echo -n "$diff"
          test $(echo -n "$diff" | wc -l) -eq 0
