name: Install to System

on:
  push:
    paths-ignore:
      - ".devcontainer/**"
      - ".vscode/**"
      - "doc/**"
      - "*.md"

jobs:
  library:
    name: Install Library
    strategy:
      matrix:
        os-arch: ["linux-x86_64", "macos-arm64"]
        compiler: ["gcc", "clang"]
        device: ["cpu", "cuda"]
        exclude:
          - os-arch: "macos-arm64"
            device: "cuda"
          - compiler: "clang"
            device: "cuda"
        include:
          - os-arch: "linux-x86_64"
            runs-on: "ubuntu-24.04"
          - os-arch: "macos-arm64"
            runs-on: "macos-15"
          - os-arch: "linux-x86_64"
            compiler: "gcc"
            c-compiler: "/usr/lib/ccache/gcc"
            cxx-compiler: "/usr/lib/ccache/g++"
          - os-arch: "linux-x86_64"
            compiler: "clang"
            c-compiler: "/usr/lib/ccache/clang"
            cxx-compiler: "/usr/lib/ccache/clang++"
          - os-arch: "macos-arm64"
            compiler: "gcc"
            c-compiler: "/opt/homebrew/opt/ccache/libexec/gcc-15"
            cxx-compiler: "/opt/homebrew/opt/ccache/libexec/g++-15"
          - os-arch: "macos-arm64"
            compiler: "clang"
            c-compiler: "/opt/homebrew/opt/ccache/libexec/clang"
            cxx-compiler: "/opt/homebrew/opt/ccache/libexec/clang++"
    runs-on: ${{ matrix.runs-on }}
    env:
      CMAKE_C_COMPILER: ${{ matrix.c-compiler }}
      CMAKE_CXX_COMPILER: ${{ matrix.cxx-compiler }}
      SCALUQ_USE_CUDA: ${{ matrix.device == 'cuda' && 'ON' || 'OFF' }}
      SCALUQ_CPU_NATIVE: "OFF"
      SCALUQ_CUDA_ARCH: "PASCAL61"
      SCALUQ_FLOAT16: ${{ matrix.compiler == 'clang' && 'OFF' || 'ON' }}
      SCALUQ_FLOAT32: "ON"
      SCALUQ_FLOAT64: "ON"
      SCALUQ_BFLOAT16: ${{ matrix.compiler == 'clang' && 'OFF' || 'ON' }}
    steps:
      - uses: actions/checkout@v4

      - name: Setup LLVM Clang
        if: ${{ matrix.os-arch == 'macos-arm64' && matrix.compiler == 'clang' }}
        run: |
          echo $(brew --prefix llvm@18)/bin >> $GITHUB_PATH
          echo "SDKROOT=$(xcrun --show-sdk-path)" >> $GITHUB_ENV

      - name: Install Ninja
        if: ${{ matrix.os-arch == 'linux-x86_64' }}
        run: sudo apt update && sudo apt install ninja-build

      - name: Install Ninja
        if: ${{ matrix.os-arch == 'macos-arm64' }}
        run: brew install ninja

      - name: Install libomp
        if: ${{ matrix.os-arch == 'linux-x86_64' && matrix.compiler == 'clang' }}
        run: sudo apt update && sudo apt install libomp-dev

      - name: Install libomp
        if: ${{ matrix.os-arch == 'macos-arm64' && matrix.compiler == 'clang' }}
        run: |
          brew install libomp
          echo "OpenMP_ROOT=$(brew --prefix libomp)" >> $GITHUB_ENV

      - name: Setup ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: "${{ matrix.os-arch }}-${{ matrix.compiler }}-${{ matrix.device }}"
          verbose: 2
      
      - name: Install CUDA toolkit
        if: ${{ matrix.device == 'cuda' }}
        uses: Jimver/cuda-toolkit@v0.2.30
        with:
          cuda: "12.9.1"
          method: "local"
          linux-local-args: '["--toolkit"]'
          log-file-suffix: '${{ github.job }}-${{ matrix.os }}-${{ matrix.architecture }}'
      
      - name: Show installed Compiler version
        run: |
          [ $SCALUQ_USE_CUDA = 'ON' ] && nvcc --version
          ccache --version
          $CMAKE_C_COMPILER --version
          $CMAKE_CXX_COMPILER --version
          cmake --version
          ninja --version

      - name: Configure
        run: ./script/configure

      - name: Install to system
        run: sudo -E env "PATH=$PATH" ninja -C build install

      - name: Build and Run other project
        run: |
          cd example_project/
          cmake -B build/ -D "CMAKE_C_COMPILER=$CMAKE_C_COMPILER" -D "CMAKE_CXX_COMPILER=$CMAKE_CXX_COMPILER" -D "SCALUQ_USE_CUDA=$SCALUQ_USE_CUDA"
          make -C build
          if [ "$SCALUQ_USE_CUDA" != 'ON' ]; then
            build/main
          fi

  python:
    name: Install Python package
    strategy:
      matrix:
        os-arch: ["linux-x86_64", "macos-arm64"]
        compiler: ["gcc", "clang"]
        device: ["cpu", "cuda"]
        exclude:
          - os-arch: "macos-arm64"
            device: "cuda"
          - compiler: "clang"
            device: "cuda"
        include:
          - os-arch: "linux-x86_64"
            runs-on: "ubuntu-24.04"
          - os-arch: "macos-arm64"
            runs-on: "macos-15"
          - os-arch: "linux-x86_64"
            compiler: "gcc"
            c-compiler: "/usr/lib/ccache/gcc"
            cxx-compiler: "/usr/lib/ccache/g++"
          - os-arch: "linux-x86_64"
            compiler: "clang"
            c-compiler: "/usr/lib/ccache/clang"
            cxx-compiler: "/usr/lib/ccache/clang++"
          - os-arch: "macos-arm64"
            compiler: "gcc"
            c-compiler: "/opt/homebrew/opt/ccache/libexec/gcc-15"
            cxx-compiler: "/opt/homebrew/opt/ccache/libexec/g++-15"
          - os-arch: "macos-arm64"
            compiler: "clang"
            c-compiler: "/opt/homebrew/opt/ccache/libexec/clang"
            cxx-compiler: "/opt/homebrew/opt/ccache/libexec/clang++"
    runs-on: ${{ matrix.runs-on }}
    env:
      CMAKE_C_COMPILER: ${{ matrix.c-compiler }}
      CMAKE_CXX_COMPILER: ${{ matrix.cxx-compiler }}
      SCALUQ_USE_CUDA: ${{ matrix.device == 'cuda' && 'ON' || 'OFF' }}
      SCALUQ_CPU_NATIVE: "OFF"
      SCALUQ_CUDA_ARCH: "PASCAL61"
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Setup LLVM Clang
        if: ${{ matrix.os-arch == 'macos-arm64' && matrix.compiler == 'clang' }}
        run: |
          echo $(brew --prefix llvm@18)/bin >> $GITHUB_PATH
          echo "SDKROOT=$(xcrun --show-sdk-path)" >> $GITHUB_ENV

      - name: Install libomp
        if: ${{ matrix.os-arch == 'linux-x86_64' && matrix.compiler == 'clang' }}
        run: sudo apt update && sudo apt install libomp-dev

      - name: Install libomp
        if: ${{ matrix.os-arch == 'macos-arm64' && matrix.compiler == 'clang' }}
        run: |
          brew install libomp
          echo "OpenMP_ROOT=$(brew --prefix libomp)" >> $GITHUB_ENV

      - name: Setup ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: "${{ matrix.os-arch }}-${{ matrix.compiler }}-${{ matrix.device }}"
          save: false
          verbose: 2
      
      - name: Install CUDA toolkit
        if: ${{ matrix.device == 'cuda' }}
        uses: Jimver/cuda-toolkit@v0.2.30
        with:
          cuda: "12.9.1"
          method: "local"
          linux-local-args: '["--toolkit"]'
          log-file-suffix: '${{ github.job }}-${{ matrix.os }}-${{ matrix.architecture }}'
      
      - name: Show installed Compiler version
        run: |
          [ $SCALUQ_USE_CUDA = 'ON' ] && nvcc --version
          ccache --version
          $CMAKE_C_COMPILER --version
          $CMAKE_CXX_COMPILER --version

      - name: Install mypy
        run: python -m pip install mypy

      - name: Install to system
        run: python -m pip install .

      - name: Run / Test stub
        if: ${{ matrix.device == 'cpu' }} # currently GPU runner is not supported
        run: |
          echo -e "from scaluq.default.f64 import StateVector, gate\nstate = StateVector(2)\nx = gate.X(0)\nx.update_quantum_state(state)\nprint(state.get_amplitudes())" > /tmp/sample.py
          python /tmp/sample.py
          python -m mypy /tmp/sample.py

      - name: Run doctest default f64
        if: ${{ matrix.device == 'cpu' }} # currently GPU runner is not supported
        run: |
          ( set -o pipefail; python python_test/run_doctest.py default f64 | tee /tmp/doctest.log )
          ! grep -q "Failed" /tmp/doctest.log

      - name: Run doctest host f64
        if: ${{ matrix.device == 'cpu' }} # currently GPU runner is not supported
        run: |
          ( set -o pipefail; python python_test/run_doctest.py host f64 | tee /tmp/doctest.log )
          ! grep -q "Failed" /tmp/doctest.log
