name: Sdist build

on:
  push:
    paths-ignore:
      - ".devcontainer/**"
      - ".vscode/**"
      - "*.md"
    branches:
      - "main"
  workflow_dispatch:
  
jobs:
  sdist-build:
    name: Source distribution
  strategy:
    matrix:
      os: ["ubuntu22.04"]
      python-verson: "3.12"
  runs-on: ${{ matrix.os }}
  env:
    PYTHON: ${{ matrix.python-version }}
  steps:
    - uses: actions/checkout@v4
      
    - uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install Python dependencies
      run: python -m pip install build twine

    - name: Build sdist
      run: python -m build --sdist
        
    # - name: Upload sdist data if the Git tag is set
    #   run: python -m twine upload dist/*.tar.gz
    #   if: ${{ contains(github.ref, 'tags/') }}
    #   env:
    #     TWINE_USERNAME: "__token__"
    #     TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN_SCALUQ }}
    
    - name: Upload sdist data to testpypi if runs on workflow_dispatch
      run: python -m twine upload --repository testpypi dist/*.tar.gz
      if: ${{ github.event_name == 'workflow_dispatch' }}
      env:
        TWINE_USERNAME: "__token__"
        TWINE_PASSWORD: ${{ secrets.TESTPYPI_TOKEN_QULACS2023 }}
