name: Sdist build

on:
  push:
    paths-ignore:
      - ".devcontainer/**"
      - ".vscode/**"
      - "*.md"
    branches:
      - "main"
    tags:
      - "v*"
  workflow_dispatch:
  
jobs:
  sdist-build:
    name: Source distribution
    strategy:
      matrix:
        os: ["ubuntu-24.04"]
        python-version: ["3.13"]
    runs-on: ${{ matrix.os }}
    env:
      PYTHON: ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v4
        
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Python dependencies
        run: python -m pip install build twine

      - name: Build sdist
        run: python -m build --sdist
          
      - name: Upload sdist data if the Git tag is set
        run: python -m twine upload dist/*.tar.gz
        if: ${{ contains(github.ref, 'tags/') }}
        env:
          TWINE_USERNAME: "__token__"
          TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN_SCALUQ }}
