name: Test Changed Files

on:
  pull_request:
    paths-ignore:
      - ".devcontainer/**"
      - ".vscode/**"
      - "doc/**"
      - "*.md"

jobs:
  test:
    name: C++ Build and Test
    strategy:
      matrix:
        os-arch: ["linux-x86_64", "macos-arm64"]
        compiler: ["gcc", "clang"]
        device: ["cpu", "cuda"]
        exclude:
          - os-arch: "macos-arm64"
            device: "cuda"
          - compiler: "clang"
            device: "cuda"
        include:
          - os-arch: "linux-x86_64"
            runs-on: "ubuntu-24.04"
          - os-arch: "macos-arm64"
            runs-on: "macos-15"
          - os-arch: "linux-x86_64"
            compiler: "gcc"
            c-compiler: "/usr/lib/ccache/gcc"
            cxx-compiler: "/usr/lib/ccache/g++"
          - os-arch: "linux-x86_64"
            compiler: "clang"
            c-compiler: "/usr/lib/ccache/clang"
            cxx-compiler: "/usr/lib/ccache/clang++"
          - os-arch: "macos-arm64"
            compiler: "gcc"
            c-compiler: "/opt/homebrew/opt/ccache/libexec/gcc-15"
            cxx-compiler: "/opt/homebrew/opt/ccache/libexec/g++-15"
          - os-arch: "macos-arm64"
            compiler: "clang"
            c-compiler: "/opt/homebrew/opt/ccache/libexec/clang"
            cxx-compiler: "/opt/homebrew/opt/ccache/libexec/clang++"
    runs-on: ${{ matrix.runs-on }}
    env:
      CMAKE_C_COMPILER: ${{ matrix.c-compiler }}
      CMAKE_CXX_COMPILER: ${{ matrix.cxx-compiler }}
      CMAKE_BUILD_TYPE: ${{ matrix.device == 'cuda' && 'Release' || 'Debug' }}
      SCALUQ_USE_TEST: "ON"
      SCALUQ_USE_CUDA: ${{ matrix.device == 'cuda' && 'ON' || 'OFF' }}
      SCALUQ_CUDA_ARCH: "PASCAL61"
      SCALUQ_FLOAT16: "ON"
      SCALUQ_FLOAT32: "ON"
      SCALUQ_FLOAT64: "ON"
      SCALUQ_BFLOAT16: "ON"
    steps:
      - uses: actions/checkout@v4

      - name: Check if build-related file is changed
        id: check-build-files
        uses: tj-actions/changed-files@v47.0.1
        with:
          files: |
            cmake/**
            script/configure
            script/related-test-files
            CMakeLists.txt
            src/CMakeLists.txt
            tests/CMakeLists.txt
      
      - name: Set SCALUQ_TEST_SOURCES to ALL
        if: ${{ steps.check-build-files.outputs.any_changed == 'true' }}
        run: echo "SCALUQ_TEST_SOURCES=ALL" >> $GITHUB_ENV
      
      - name: List changed source files
        id: check-source-files
        if: ${{ steps.check-build-files.outputs.any_changed == 'false' }}
        uses: tj-actions/changed-files@v47.0.1
        with:
          files: |
            include/scaluq/**.hpp
            src/**.hpp
            src/**.cpp
            tests/**.hpp
            tests/**.cpp
      
      - name: Install Ninja
        if: ${{ (steps.check-build-files.outputs.any_changed == 'true' || steps.check-source-files.outputs.any_changed == 'true') && matrix.os-arch == 'linux-x86_64' }}
        run: sudo apt update && sudo apt install -y ninja-build

      - name: Install Ninja
        if: ${{ (steps.check-build-files.outputs.any_changed == 'true' || steps.check-source-files.outputs.any_changed == 'true') && runner.os-arch == 'macos-arm64' }}
        run: brew install ninja

      - name: Install libomp
        if: ${{ matrix.os-arch == 'linux-x86_64' && matrix.compiler == 'clang' }}
        run: sudo apt update && sudo apt install libomp-dev

      - name: Install libomp
        if: ${{ matrix.os-arch == 'macos-arm64' && matrix.compiler == 'clang' }}
        run: brew install libomp

      - name: Setup ccache
        uses: hendrikmuhs/ccache-action@v1.2
        if: ${{ steps.check-build-files.outputs.any_changed == 'true' || steps.check-source-files.outputs.any_changed == 'true' }}
        with:
          key: "${{ matrix.os-arch }}-${{ matrix.compiler }}-${{ matrix.device }}"
          verbose: 2
      
      - name: Install CUDA toolkit
        if: ${{ matrix.device == 'cuda' && (steps.check-build-files.outputs.any_changed == 'true' || steps.check-source-files.outputs.any_changed == 'true') }}
        uses: Jimver/cuda-toolkit@v0.2.19
        with:
          cuda: "12.6.1"
          method: "network"
      
      - name: Show installed Compiler version
        if: ${{ steps.check-build-files.outputs.any_changed == 'true' || steps.check-source-files.outputs.any_changed == 'true' }}
        run: |
          [ $SCALUQ_USE_CUDA = 'ON' ] && nvcc --version
          ccache --version
          $CMAKE_C_COMPILER --version
          $CMAKE_CXX_COMPILER --version
          cmake --version
          ninja --version

      - name: List related test files
        if: ${{ steps.check-build-files.outputs.any_changed == 'false' && steps.check-source-files.outputs.any_changed == 'true' }}
        run: |
          RELATED_TEST_FILES=$(./script/related-test-files ${{ steps.check-source-files.outputs.changed_files }})
          if [ -z "$RELATED_TEST_FILES" ]; then
            echo "No related test files found. Skipping tests."
          else
            echo "Related test files:"
            echo "$RELATED_TEST_FILES"
            SCALUQ_TEST_SOURCES=$(echo "$RELATED_TEST_FILES" | tr '\n' ';')
            echo "SCALUQ_TEST_SOURCES=$SCALUQ_TEST_SOURCES" >> $GITHUB_ENV
          fi
      
      - name: Configure & Build
        if: ${{ env.SCALUQ_TEST_SOURCES != '' }}
        run: |
          ./script/configure
          ninja -C build/

      - name: Test
        if: ${{ matrix.device == 'cpu' && env.SCALUQ_TEST_SOURCES != '' }} # currently GPU runner is not supported
        run: |
          if [ "$(uname)" == 'Darwin' ]; then
            NPROC=$(sysctl -n hw.physicalcpu)
          else
            NPROC=$(nproc)
          fi
          OMP_PROC_BIND=false ctest --test-dir build/ -j ${NPROC} --output-on-failure
