name: Test Changed Files

on:
  pull_request:
    paths-ignore:
      - ".devcontainer/**"
      - ".vscode/**"
      - "doc/**"
      - "*.md"

jobs:
  test:
    name: C++ Build and Test
    strategy:
      matrix:
        os: ["linux", "macos"]
        architecture: ["x86_64", "arm64"]
        device: ["cpu"]
        exclude:
          - os: "macos"
            device: "cuda"
          # currently ARM runner is not supported
          - os: "linux"
            architecture: "arm64"
          - os: "macos"
            architecture: "x86_64"
        include:
          - os: "linux"
            architecture: "x86_64"
            runs-on: "ubuntu-24.04"
          - os: "macos"
            architecture: "x86_64"
            runs-on: "macos-15-intel"
          - os: "macos"
            architecture: "arm64"
            runs-on: "macos-15"
    runs-on: ${{ matrix.runs-on }}
    env:
      CMAKE_C_COMPILER: ${{ (matrix.runs-on == 'macos-15-intel' || matrix.runs-on == 'macos-15') && '/opt/homebrew/opt/ccache/libexec/gcc' || '/usr/lib/ccache/gcc' }}
      CMAKE_CXX_COMPILER: ${{ (matrix.runs-on == 'macos-15-intel' || matrix.runs-on == 'macos-15') && '/opt/homebrew/opt/ccache/libexec/g++' || '/usr/lib/ccache/g++' }}
      CMAKE_BUILD_TYPE: ${{ matrix.device == 'cuda' && 'Release' || 'Debug' }}
      SCALUQ_USE_TEST: "ON"
      SCALUQ_USE_CUDA: ${{ matrix.device == 'cuda' && 'ON' || 'OFF' }}
      SCALUQ_CUDA_ARCH: "PASCAL61"
      SCALUQ_FLOAT16: "ON"
      SCALUQ_FLOAT32: "ON"
      SCALUQ_FLOAT64: "ON"
      SCALUQ_BFLOAT16: "ON"
    steps:
      - uses: actions/checkout@v4

      - name: Check if build-related file is changed
        id: check-build-files
        uses: tj-actions/changed-files@v47.0.1
        with:
          files: |
            cmake/**
            script/configure
            script/related-test-files
            CMakeLists.txt
            src/CMakeLists.txt
            tests/CMakeLists.txt
      
      - name: Set SCALUQ_TEST_SOURCES to ALL
        if: ${{ steps.check-build-files.outputs.any_changed == 'true' }}
        run: echo "SCALUQ_TEST_SOURCES=ALL" >> $GITHUB_ENV
      
      - name: List changed source files
        id: check-source-files
        if: ${{ steps.check-build-files.outputs.any_changed == 'false' }}
        uses: tj-actions/changed-files@v47.0.1
        with:
          files: |
            include/scaluq/**.hpp
            src/**.hpp
            src/**.cpp
            tests/**.hpp
            tests/**.cpp
      
      - name: List related test files
        if: ${{ steps.check-build-files.outputs.any_changed == 'false' }}
        run: |
          RELATED_TEST_FILES=$(./script/related-test-files ${{ steps.check-source-files.outputs.changed_files }})
          if [ -z "$RELATED_TEST_FILES" ]; then
            echo "No related test files found. Skipping tests."
          else
            echo "Related test files:"
            echo "$RELATED_TEST_FILES"
            SCALUQ_TEST_SOURCES=$(echo "$RELATED_TEST_FILES" | tr '\n' ';')
            echo "SCALUQ_TEST_SOURCES=$SCALUQ_TEST_SOURCES" >> $GITHUB_ENV
          fi
      
      - name: Install Ninja
        if: ${{ matrix.os == 'linux' && env.SCALUQ_TEST_SOURCES != '' }}
        run: sudo apt update && sudo apt install ninja-build

      - name: Install Ninja
        if: ${{ matrix.os == 'macos' && env.SCALUQ_TEST_SOURCES != '' }}
        run: brew install ninja

      - name: Setup ccache
        uses: hendrikmuhs/ccache-action@v1.2
        if: ${{ env.SCALUQ_TEST_SOURCES != '' }}
        with:
          key: "${{ matrix.os }}-${{ matrix.architecture }}-${{ matrix.device }}"
          verbose: 2
      
      - name: Install CUDA toolkit
        if: ${{ matrix.device == 'cuda' && env.SCALUQ_TEST_SOURCES != '' }}
        uses: Jimver/cuda-toolkit@v0.2.19
        with:
          cuda: "12.6.1"
          method: "network"
      
      - name: Show installed Compiler version
        if: ${{ env.SCALUQ_TEST_SOURCES != '' }}
        run: |
          [ $SCALUQ_USE_CUDA = 'ON' ] && nvcc --version
          ccache --version
          $CMAKE_C_COMPILER --version
          $CMAKE_CXX_COMPILER --version
          cmake --version
          ninja --version

      - name: Configure & Build
        if: ${{ env.SCALUQ_TEST_SOURCES != '' }}
        run: |
          ./script/configure
          ninja -C build/

      - name: Test
        if: ${{ matrix.device == 'cpu' && env.SCALUQ_TEST_SOURCES != '' }} # currently GPU runner is not supported
        run: |
          if [ "$(uname)" == 'Darwin' ]; then
            NPROC=$(sysctl -n hw.physicalcpu)
          else
            NPROC=$(nproc)
          fi
          OMP_PROC_BIND=false ctest --test-dir build/ -j ${NPROC} --output-on-failure
