name: Test All

on:
  push:
    branches:
      - main
    paths-ignore:
      - ".devcontainer/**"
      - ".vscode/**"
      - "doc/**"
      - "*.md"
  workflow_dispatch:

jobs:
  test:
    name: C++ Build and Test
    strategy:
      matrix:
        os-arch: ["macos-arm64"]
        compiler: ["clang"]
        device: ["cpu"]
        include:
          - os-arch: "macos-arm64"
            runs-on: "macos-15"
          - os-arch: "macos-arm64"
            compiler: "clang"
            c-compiler: "/opt/homebrew/opt/ccache/libexec/clang"
            cxx-compiler: "/opt/homebrew/opt/ccache/libexec/clang++"
    runs-on: ${{ matrix.runs-on }}
    env:
      CMAKE_C_COMPILER: ${{ matrix.c-compiler }}
      CMAKE_CXX_COMPILER: ${{ matrix.cxx-compiler }}
      CMAKE_BUILD_TYPE: ${{ matrix.device == 'cuda' && 'Release' || 'Debug' }}
      SCALUQ_USE_TEST: "ON"
      SCALUQ_USE_CUDA: ${{ matrix.device == 'cuda' && 'ON' || 'OFF' }}
      SCALUQ_CPU_NATIVE: "OFF"
      SCALUQ_CUDA_ARCH: "PASCAL61"
      SCALUQ_FLOAT16: ${{ matrix.compiler == 'clang' && 'OFF' || 'ON' }}
      SCALUQ_FLOAT32: "ON"
      SCALUQ_FLOAT64: "ON"
      SCALUQ_BFLOAT16: ${{ matrix.compiler == 'clang' && 'OFF' || 'ON' }}
    steps:
      - uses: actions/checkout@v4

      - name: prioritize LLVM Clang
        if: ${{ matrix.os-arch == 'macos-arm64' && matrix.compiler == 'clang' }}
        run: |
          echo $(brew --prefix llvm@18)/bin >> $GITHUB_PATH

      - name: Install Ninja
        if: ${{ matrix.os-arch == 'linux-x86_64' }}
        run: sudo apt update && sudo apt install ninja-build

      - name: Install Ninja
        if: ${{ matrix.os-arch == 'macos-arm64' }}
        run: brew install ninja

      - name: list clang
        if: ${{ matrix.os-arch == 'macos-arm64' && matrix.compiler == 'clang' }}
        run: which -a clang

      - name: Install libomp
        if: ${{ matrix.os-arch == 'linux-x86_64' && matrix.compiler == 'clang' }}
        run: sudo apt update && sudo apt install libomp-dev

      - name: Install libomp
        if: ${{ matrix.os-arch == 'macos-arm64' && matrix.compiler == 'clang' }}
        run: brew install libomp

      - name: Setup ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: "${{ matrix.os-arch }}-${{ matrix.compiler }}-${{ matrix.device }}"
          verbose: 2
      
      - name: Install CUDA toolkit
        if: ${{ matrix.device == 'cuda' }}
        uses: Jimver/cuda-toolkit@v0.2.19
        with:
          cuda: "12.6.1"
          method: "network"

      - name: LS
        if: ${{ matrix.os-arch == 'macos-arm64' && matrix.compiler == 'clang' }}
        run: |
          ls /opt/homebrew/opt/ccache/libexec/
      
      - name: Show installed Compiler version
        run: |
          [ $SCALUQ_USE_CUDA = 'ON' ] && nvcc --version
          ccache --version
          $CMAKE_C_COMPILER --version
          $CMAKE_CXX_COMPILER --version
          cmake --version
          ninja --version

      - name: Configure & Build
        run: |
          ./script/configure
          ninja -C build/

      - name: Test
        if: ${{ matrix.device == 'cpu' }} # currently GPU runner is not supported
        run: |
          if [ "$(uname)" == 'Darwin' ]; then
            NPROC=$(sysctl -n hw.physicalcpu)
          else
            NPROC=$(nproc)
          fi
          OMP_PROC_BIND=false ctest --test-dir build/ -j ${NPROC} --output-on-failure
